.AddEvent {
  padding-bottom: 3em;
}

form {
  width: 80%;
  max-width: 900px;
  margin: auto;
}

form .text-input {
  margin: 1em 0;
}

.AddEvent h1 {
  width: 100%;
  margin: 0;
  padding: 1em 0;
  color: whitesmoke;
  font-weight: 100;
  font-size: 4vh;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-shadow: 10px 5px 8px #652e2e;
  background-color: #bd7042;
}
.error fieldset {
  border-color: #f44336;
}

.error p {
  color: #f44336;
}

button.MuiButton-contained {
  color: whitesmoke;
  margin: 1em;
}

button.MuiButton-containedPrimary {
  background-color: var(--cinnamon);
}

button.MuiButton-containedPrimary:hover {
  background-color: var(--cinnamon);
}

button.MuiButton-containedSecondary {
  background-color: #b7b7b7;
}

button.MuiButton-containedSecondary:hover {
  background-color: #b7b7b7;
}

form button:hover {
  transform: scale(1.1);
}

div.MuiSelect-select {
  text-align: left;
}

div.uploadImage {
  text-align: left;
  margin: 1em 0;
}
div.uploadImage span:last-of-type {
  padding-left: 10px;
}

.uploadImage.error > span {
  color: #f44336;
}
.uploadImage.error > label {
  border-color: #f44336;
}
